Screen {
    layout: grid;
    grid-size: 10;
    /* overflow: auto; */
    width: auto;
    grid-rows: 3 60;
    scrollbar-gutter: stable;
}

.menubutton {
    color: red;
    margin: 0 3;
    background: #33D;
}


#browsertext {
    margin: 1 2;
}

#menutext {
    color: red;
    margin: 1;
    background: #44C;
}   

#querywindowtext
{
    color: #44C;
    margin: 1;
}   

.browseritem {
    color: red;
}

.querybutton {
    color: red;
}

#menubar {
    column-span: 10;
    background: #44C;
    layout: grid;
    grid-size: 10;
    dock: top;
    height: 3;
}

#browsercontrol {
    layout: grid;
    grid-size: 5 1;
    height: 3;
}


#querycontrol {
    layout: grid;
    grid-size: 8 1;
    height: 3;
}

#sidebar {
    column-span: 4;
    height: 70;
    background: gray;
    /* height: 100%; */
    /* border: heavy; */
}

#querywindow {
    column-span: 6;
    height: 70;
    background: gray;
    /* height: 100%; */
    /* border: heavy; */
}

#schemabrowser {
    height: 50;
}

#querypane {
    height: 50;
}
