Screen {
    layout: grid;
    grid-size: 10;
    overflow: auto;
    /* grid-gutter: 1 2;
    grid-columns: 1fr;
    grid-rows: 2fr 1fr 1fr 1fr 1fr 1fr; */
}

#menubar {
    column-span: 10;
    background: blue;
    height: 7;
    layout: grid;
    grid-size: 10;
    /* layout: grid;
    grid-size: 5; */
    /* margin: 1; */
    /* min-width: 50; */
    padding: 1;
}

#sidebar {
    column-span: 3;
    height: 40;
    background: white;
}

#querywindow {
    column-span: 7;
    height: 100%;
    background: greyd;
}


.menuitem {
    height: 3;
    color: red;
    column-span: 1;
    /* margin: 1%; */
}

/* Screen {
    layout: grid;
    grid-size: 3;
}

MenuBar {
    layout: grid;
    grid-size: 10;
} */


/* #two {
    column-span: 2;
    tint: magenta 40%;
} */

/* #menu {
    height: 3;
    background: #68F;
}

.menutitle {
    column-span: 9;
}

.menubutton {
    column-span: 1;
}

.box {
    height: 100%;
    border: solid green;
} */